# Android / Gradle
.gradle/
build/
app/build/
**/build/

# IDEs
.idea/
*.iml
.kotlin/

# Local configs
local.properties

# Firebase
google-services.json

# Admin folder (tu carpeta que no quieres subir)

SmarthFashion/
admin/
