<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartFashionEcommerce">

        <!-- Login principal -->
        <activity
            android:name=".DarkLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla principal tras login -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartFashionEcommerce" />

        <!-- Registro -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />

        <!-- Recuperar contraseña -->
        <activity
            android:name=".RecoverPasswordActivity"
            android:exported="true" />

        <!-- Email enviado -->
        <activity
            android:name=".EmailSentActivity"
            android:exported="true" />

        <!-- Catálogo -->
        <activity
            android:name=".catalog.CatalogActivity"
            android:theme="@style/Theme.Catalog"
            android:exported="true" />

        <!-- Detalles -->
        <activity
            android:name=".detalles.DetailsActivity"
            android:theme="@style/Theme.SmartFashionEcommerce"
            android:exported="true" />

        <!-- Mi perfil -->
        <activity
            android:name=".miperfil.MiPerfilActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartFashionEcommerce" />

        <!-- Favoritos -->
        <activity
            android:name=".FavActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartFashionEcommerce"/>

        <!-- ✅ App Links para Firebase Auth -->
        <activity
            android:name=".LinkHandlerActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="smartfashionecommerce.firebaseapp.com"
                    android:pathPrefix="/__/auth/action" />
            </intent-filter>
        </activity>

    </application>

</manifest>
